.page-header {
 box-sizing: border-box;
 width: 100%;
 padding: 25px;
 margin: 0 auto;
 border: 10px groove whitesmoke;
}
.main-content{
    box-sizing: border-box;
    width: 70%;
    padding: 16px;
    margin-right:  auto;
    /*border: 10px groove whitesmoke;*/
}
.page-footer {
    box-sizing: border-box;
    width: 100%;
    padding: 1%;
    margin: 0 auto;
    border: 10px double whitesmoke;
}