.page-header {
    box-sizing: border-box;
    width: 100%;
    padding: 25px;
    margin: 0 auto;
    border: 10px groove whitesmoke;
    z-index: 1;
    position: relative;
}

.main-content {
    box-sizing: border-box;
    width: 70%;
    padding: 16px;
    margin-right: auto;
    /*border: 10px groove whitesmoke;*/
}

.page-footer {
    box-sizing: border-box;
    width: 100%;
    padding: 1%;
    margin: 0 auto;
    border: 10px double whitesmoke;
}

#flex-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.team{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.team-member {
    text-align: center;
    width: 30%;
    min-width: 200px;
    margin: 1em 0;
    padding: 1em 2em;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(70, 233, 245, 0.4);
}

.team-member h3 {
    margin: 0.5em 0;
    font-size: x-large;
}

.team-member img {
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(32, 107, 2, 0.6);
}
