.topnav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #c3c3c3;
    color: #111;
    font-family: "Press Start 2P", "Lato", sans-serif;
    text-align: center;
    padding: 15px 0;
    z-index: 1000;
    border-bottom: 10px groove whitesmoke;
    z-index: 1;
}

.topnav a {
    color: #000;
    text-decoration: none;
    font-size: 1rem;
    margin: 0 1rem;
    font-weight: bold;
}

.topnav a:hover {
    color: lightcoral;
}

.topnav a.active {
    background-color: #007a4d;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}
.sign-in {
    margin-left: auto;
}