/* Base */
body {
  background-color: #eeeeee;
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  padding: 16px;
}

/* Typography */
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.25;
  margin: 0 0 0.5rem;
}
h1 { font-size: 2rem;   margin-top: 0; }
h2 { font-size: 1.5rem; }
h3 { font-size: 1.25rem; }
p  { 
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
               'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 0 0 0.75rem;
}

header {
  background-color: #c3c3c3;
  color: #111;
  text-align: center;
  text-shadow: 5px 1px 8px whitesmoke;
  padding: 25px;
}
header ul { list-style: none; padding: 0; margin: 0; }
header li { display: inline-block; margin: 0 .75rem; }

/* Footer (dark bg + high contrast) */
footer {
  background-color: #869ec4;
  color: #000;
  font-weight: 500;
  padding: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;

}
footer p {
text-align: left;
width: 400px; 
padding-left: 200px;}

/* Accessible link states on footer bg */
 a:link,
a:visited {
  color: purple;
  text-decoration: underline;
}
a:hover {
  color: #113355;          
  text-decoration: none;
}
a:active {
  color: #000;           
}
